<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="es-ES">
        <title>Bienvenido a Carreras por La Rioja</title>
        <meta name="description" content="Aplicación de prueba de Desarrollo de Aplicaciones para Internet; Máster en Informática; Universidad de La Rioja." lang="es-ES">
        <link href="/bundles/appcorredoresrioja/css/carrerasrioja.css" rel="stylesheet" media="all" type="text/css">
    </head>
    <body>
        <div class="logo">Carreras por La Rioja</div>

        <div class="sombra">
            <div class="nucleo">
                <div id="lang">
                    Español &nbsp; | &nbsp;
                    <a href="/en/welcome">English</a>
                </div>
            </div>
        </div>

        <div class="barra_menus">	
            <div class="pestanias">
                <div class="grupoPestanias">
                    <div class="pestaniaSel"><a href="/es/portada">Zona Corredores</a></div>
                    <div class="pestaniaNoSel"><a href="/es/organizaciones">Zona Organizadores</a></div>
                    <div class="pestaniaNoSel"><a href="/admin/">Intranet</a></div>
                </div>
            </div>
            
	</div>
<!------------------------------------------------------->

	<div class="barra_menus">
            
            <div id="menu">
                <ul>
                    <li>
                        <a href="/es/portada">Portada<br></a>
                    </li>
                    <li>
                        <a href="/es/corredores/carreras">Carreras<br></a>
                    </li>
                    <li>
                        <a href="/es/corredores/miscarreras">Mis carreras<br></a>
                    </li>
                    <li>
                        <a href="/es/corredores/login">Login<br></a>
                    </li>
                </ul>
                <div style="clear: left;"></div>
            </div>
        </div>     
        <div class="sombra">
            <div class="nucleo">
<!------------------------------------------------------->
                <div id="migas">
                    <div class="clear"></div> 
                </div>
                <div class="contenido">
                    <h1>Bienvenido a Carreras por La Rioja </h1>
                    <p>Carreras por La Rioja es un sitio web donde corredores de todos los niveles pueden inscribirse en carreras organizadas en La Rioja. 
                        A continuación se muestran algunas de las carreras a las que te puedes inscribir.</p>

                    <div class="centro">
                        <ul>
                            <li class="columna">
                                <ul>

                                    <li class="celda">
                                        <div class="parteCelda">
                                            <img src="/bundles/appcorredoresrioja/images/foto55f6e0ca8f274.jpg">
                                        </div>
                                        <div class="parteCelda2">
                                            <h3><a href="/es/corredores/carreras/matutrail">Matutrail</a></h3>
                                            <p>2016/01/01 11:01</p>
                                            <div style="float:right; padding:10px 5px">
                                                <a style="padding:5px 8px 5px 10px;background:#5C7E6D;color:#FFF" href="/es/corredores/inscribir/matutrail"><span>Inscríbete</span> </a>
                                            </div>
                                        </div>    
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>   
                </div>

<!------------------------------------------------------->                
            </div>	
	</div>
<!------------------------------->
	<div class="sombra">
            <div class="nucleo">
                <div class="clear"></div>  
                <div class="separa"></div>

                <div class="pie">
                    <span class="pie_izda">
                        <a href="mailto:jonathan.heras@unirioja.es">Contacto</a> </span>
                    <span class="pie_dcha">
                        © 2015 Jónathan Heras Vicente  </span>
                    <div class="clear"></div>  
                </div>
            </div>
        </div>
    </body>
</html>
