{% extends 'AppCorredoresRiojaBundle:Corredores:zonacorredores.html.twig' %}

{% block title %}
    Bienvenido a Carreras por La Rioja
{% endblock %}



{% block content %}
    <div id="migas">
        <div class="clear"></div> 
    </div>
    <div class="contenido">
        <h1>Bienvenido a Carreras por La Rioja </h1>
        <p>Carreras por La Rioja es un sitio web donde corredores de todos los niveles pueden inscribirse en carreras organizadas en La Rioja. 
            A continuación se muestran algunas de las carreras a las que te puedes inscribir.</p>
        {% for mensaje in app.session.flashbag.get('info') %}
            <p class='info'>{{ mensaje }}</p>
        {% endfor %}
        
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Username: {{ app.user.username }}</p>
        {% endif %}
        <!--    
        <div class="centro">
            <ul>
                <li class="columna">
                    <ul>

                        <li class="celda">
                            <div class="parteCelda">
                                <img src="/bundles/appcorredoresrioja/images/foto55f6e0ca8f274.jpg">
                            </div>
                            <div class="parteCelda2">
                                <h3><a href="/es/corredores/carreras/matutrail">Matutrail</a></h3>
                                <p>2016/01/01 11:01</p>
                                <div style="float:right; padding:10px 5px">
                                    <a style="padding:5px 8px 5px 10px;background:#5C7E6D;color:#FFF" href="/es/corredores/inscribir/matutrail"><span>Inscríbete</span> </a>
                                </div>
                            </div>    
                        </li>
                    </ul>
                </li>
            </ul>
        </div>-->   
    </div>
{% endblock %}
